<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" #categories_segment (ionChange)="segmentChanged($event)">
    <ion-segment-button mode="md" [value]="category" *ngFor="let category of categories">
      <ion-label text-capitalize>{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  
  <app-noticias [noticias]="noticias"></app-noticias>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)" class="custom-spinner">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando noticias..." color="primary">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
