<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  
  <ion-slides *ngIf="localDataService.noticias.length === 0" [options]="sliderOpts">
    <ion-slide>
      <ion-label>No hay favoritos</ion-label>
    </ion-slide>
  </ion-slides>

  <app-noticias [noticias]="localDataService.noticias" [inFavorites]="true" *ngIf="localDataService.noticias.length > 0"></app-noticias>

</ion-content>
